.container{
    width: 1336px;
    margin: 0 auto;
}
.text-block{
    text-align: center;
    width: 760px;
    margin: 0 auto;
    margin-bottom: 48px;
    margin-top: 80px;
}
h1{
    font-size: 54px;
    color: #282828;

}
h4{
    margin-bottom: 4px;
    color: #282828;
    font-size: 18px;
    font-weight: 600;
}
h5{
    font-size: 16px;
    color: #282828;
}
h6{
    margin-bottom: 8px;
    color: #3E3E59;
}
span{
    color: #5F6980;
    font-size: 14px;
}
p{
    font-size: 20px;
    color: #5F6980;
}
.flex-row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 908px;
    align-content: space-between;
}
.box{
    width: 310px;
    height: 430px;
    border: 1px solid #EAECF0
}
.font{
    font-family: 'Inter 28pt';
}
.image{
    width: 310px;
    height: 230px;
}
.contact-block{
    margin-top: 60px;
    display: flex;
}
.contact-line{
    background-color: #F2F4F7;
    height: 36px;
    width: 36px;
    border-radius: 100%;
    display: flex;
    margin-right: 16px;
}
.icon{
    align-items: center;
    margin: 9px;
}
.footer-block{
    background-color: #53535354;
    width: 1440px;
    height: 460px;
    margin: 0 auto;
    margin-top: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-div{
    width: 1128px;
    display: flex;
    justify-content: space-between;
}
.left-div{
    width: 318.05px;
    height: 221px;
    font-weight: 400;
}
.contact-div{
    margin-top: 28px;
}
.footer-text{
    margin-top: 32px;
    width: 306.05px;
    height: 73px;
    font-size: 14px;
}
.middle-left-div{
    width: 136px;
    height: 223px;
}
.middle-right-div{
    width: 199px;
    height: 223px;
}
.right-div{
    width: 107px;
    height: 127.45px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer-titles{
    color: #1E1E1E;
    font-size: 20px;
    font-weight: 600px;
}
.ul-navigation{
    margin-top: 71px;
    display: flex;
    flex-direction: column;
}
.list{
    margin-bottom: 15px;
}
.nav-list{
    margin-top: 71px;
    display: flex;
    flex-direction: column;
}
.text-font{
    color: #535353;
}